{% extends "base.html" %}
{% block titulo %}{{ producto.nombre }} - Tienda Puerto{% endblock %}
{% block content %}
    <a class="volver" href="{% url 'productos:index' %}">&larr; Volver al inventario</a>

    <h1>{{ producto.nombre }}</h1>
    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
    <p><strong>Precio:</strong> ${{ producto.precio }}</p>
    <p><strong>Stock disponible:</strong> {{ producto.stock }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>

<p>
    <a href="{% url 'productos:editar' producto.id %}"><button>Editar</button></a>
    <a href="{% url 'productos:eliminar' producto.id %}"><button style="background-color:#c62828;">Eliminar</button></a>
</p>

    {% if producto.stock <= 5 %}
        <p class="alerta">⚠ Stock bajo, hay que reabastecer.</p>
    {% endif %}

    <hr>
    <h3>Registrar una venta</h3>
    <form action="{% url 'ventas:registrar' producto.id %}" method="get">
        <label>Cantidad: <input type="number" name="cantidad" value="1" min="1"></label>
        <button type="submit">Vender</button>
    </form>
{% endblock %}