{% extends "base.html" %}
{% block titulo %}Inventario - Tienda Puerto{% endblock %}
{% block content %}
    <h1>{{ titulo|default:"Inventario de la tienda" }}</h1>
    <p style="font-size: 0.85rem; color: #777;">Datos servidos por: {{ microservicio_usado }}</p>
<p><a href="{% url 'productos:crear' %}"><button>+ Nuevo producto</button></a></p>
    {% if productos %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th></th>
            </tr>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td><a class="accion" href="{% url 'productos:detalle' producto.id %}">Ver detalle</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aún no hay productos registrados en el inventario.</p>
    {% endif %}
{% endblock %}